.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  width: 100%;
  position: relative;

  @media (max-width: 768px) {
    padding: 20px;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -10;
    width: 100%;
    animation: dotScroll 16s linear infinite;
    background-image: radial-gradient(circle,#2e3c51 2px,transparent 0);
    background-size: calc(14.2857142857% - 1px) 100px;
    background-position: 5px 0;
  }

}

@keyframes dotScroll {
  0% {
    background-position-y: 140px
  }

  to {
    background-position-y: 0
  }
}


.title {
  font-size: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 700;

  span {
    border-bottom: 1px #2e3c51 solid;
  }

  @media (max-width: 768px) {
    font-size: 26px;
  }

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.typing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  color: #a87ffb;
}

.pdfButton {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #25a6e9;
  cursor: pointer;

  transition: color .3s;

  &:hover {
    color: #bfc7d2;
  }
}