.works {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: 860px) {
    padding: 0 20px;
  }
  // background-image: radial-gradient(500px 200px at 50% 0, #1a2533 20%, rgba(19, 30, 49, 0) 100%);
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}