@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

html, body, #root {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: #161e29;
  color: #a4afb3;
  font-family: 'JetBrains Mono', monospace;
}