.root {
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  bottom: 40px;

  a {
    color: #25a6e9;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: #bfc7d2;
    }
  }
}