.root {
  display: flex;
  justify-content: space-between;
  padding: 26px 50px;
  font-size: 21px;
  font-weight: 600;
  background: linear-gradient(to bottom, #1a2533, #161e29);
  position: sticky;
  top: 0;
  z-index: 1;
  gap: 50px;

  li {
    cursor: pointer;
  }
}